{% block etape_type_widget %}
    <div class="form-row">
        <div class="form-group col-md-3">
            {{form_label(form.dateDeb, "Début")}}
            {{form_widget(form.dateDeb, {'attr':{'class':'form-control datepicker datetimepicker-input', 'data-start-date':'', 'data-toggle':"datetimepicker", 'data-target':'#'~form.dateDeb.vars.id, 'placeholder':'Ex: '~"now"|date("d/m/Y")}})}}
            {{form_errors(form.dateDeb)}}
        </div>
        <div class="form-group col-md-3">
            {{form_label(form.dateFin, "Fin")}}
            {{form_widget(form.dateFin, {'attr':{'class':'form-control datepicker datetimepicker-input', 'data-start-date':'', 'data-toggle':"datetimepicker", 'data-target':'#'~form.dateFin.vars.id, 'placeholder':'Ex: '~"now"|date("d/m/Y")}})}}
            {{form_errors(form.dateFin)}}
        </div>
        <div class="form-group col-md-3">
            {{form_label(form.ville, "Ville / Pays")}}
            {{form_widget(form.ville, {'attr':{'class':'form-control', 'placeholder':'Ex: Bordeaux, Buenos Aires, ...'}})}}
        </div>
    </div>
    <a href="#" class="etape-remove btn btn-danger"><i class="fas fa-minus-circle"></i></a>
    {{ form_widget(form) }}
{% endblock %}