{% extends 'base.html.twig' %}

{% block title %}Voyage{% endblock %}

{% block titlePage %}Voyage{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12 mb-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Créer un voyage</h6>
                </div>
                <div class="card-body">
                    {{form_start(form)}}
                    <div class="form-row">
                        <div class="col">
                            {{form_label(form.nom, "Nom", {'label_attr':{'class':''}})}}
                            {{form_widget(form.nom, {'attr':{'class':'form-control', 'placeholder':"Nom de votre voyage"}})}}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            {{form_label(form.dateDeb, "Date de début", {'label_attr':{'class':''}})}}
                            {{form_widget(form.dateDeb, {'attr':{'class':'form-control'}})}}
                        </div>
                        <div class="col">
                            {{form_label(form.dateFin, "Date de fin", {'label_attr':{'class':''}})}}
                            {{form_widget(form.dateFin, {'attr':{'class':'form-control'}})}}
                        </div>
                    </div>
                    {{form_rest(form)}}
                    <button type="submit" class="mt-4 btn btn-success">Enregistrer</button>
                    {{form_end(form)}}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
