{% extends 'default.html.twig' %}

{% form_theme form 'voyage/Theme/activite-theme.html.twig' 'voyage/Theme/etape-theme.html.twig' 'jquery.collection.html.twig' %}

{% block title %}{{voyage.nom}}{% endblock %}

{% block titlePage %}{{voyage.nom}}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('viewVoyage') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('viewVoyage') }}
{% endblock %}

{% block content %}
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Départ</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">{{voyage.dateDeb.format('d/m/Y')}}</div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-plane-departure fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
                
        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Retour</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">{{voyage.dateFin.format('d/m/Y')}}</div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-plane-arrival fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Durée</div>
                  {% set difference = date(voyage.dateFin).diff(date(voyage.dateDeb)) %} 
                  <div class="h5 mb-0 font-weight-bold text-gray-800">{{difference.d}} jours</div>
                </div>
                <div class="col-auto">
                  <i class="far fa-calendar-alt fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Etapes</div>
                  <div class="row no-gutters align-items-center">
                    <div class="col-auto">
                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{voyage.etapes|length}}</div>
                    </div>
                  </div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>          
        
        <div class="col-lg-12 mb-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Planning</h6>
                </div>
                <div class="card-body">
                    <div id="calendar" data-events='{{events|raw}}' data-default-date="{{voyage.dateDeb|date('Y-m-d')}}"></div>
                    <div class="row">
                        {% for categorie in categories %}
                            <div class="col-sm">
                                <i class="fas fa-circle" style="color: {{categorie.couleur}}"></i> {{categorie.libelle}}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 mb-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Ajouter au planning</h6>
                </div>
                <div class="card-body">
                    {{form_start(form)}}
                    <h4>Evénements</h4>
                    {{form_widget(form.activites)}}
                    <h4>Etape</h4>
                    {{form_widget(form.etapes)}}
                    {{form_rest(form)}}
                    <button type="submit" class="mt-4 btn btn-success">Enregistrer</button>
                    {{form_end(form)}}
                </div>
            </div>
        </div>
    </div>
                   
    <div class="modal fade" id="calendarModal" tabindex="-1" role="dialog" aria-labelledby="calendarModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="calendarModalLabel"></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <dl class="row">
                    <dt class="col-sm-3">Début</dt>
                    <dd class="col-sm-9" id="eventStart"></dd>
                    <dt class="col-sm-3">Fin</dt>
                    <dd class="col-sm-9" id="eventEnd"></dd>
                    <dt class="col-sm-3">Description</dt>
                    <dd class="col-sm-9" id="eventDescription"></dd>
                </dl>
            </div>
            <div class="modal-footer">
                <a href="#" type="button" class="btn btn-danger">Supprimer</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
          </div>
        </div>
    </div>
{% endblock %}
